
var value_order_array = [0, 1, 0, -1]

var new_value = card.x_value + 1
if card.x_value + 1 > 3:
    card.set_card_x_value(0)
else:
    card.set_card_x_value(card.x_value + 1)

card.set_card_value(value_order_array[card.x_value])
current_player.get_parent().update_scores()